<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee salary</th>
        <th>Employee gender</th>
        <button class="btn btn-primary mx-2 " >ADD NEW EMPLOYEE</button>
        <th></th>
        <th></th>
      </tr>
    </thead>
    @for(emp of employee ; track $index){
    <tbody>
      <tr>
        <td>{{ emp.eId }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.sal }}</td>
        <td>{{ emp.gender }}</td>
        <button on-click="f1(emp.eId)" class="btn btn-primary mx-2" >View</button>
       
        <button on-click="f1(emp.eId)" class="btn btn-primary mx-2" >Delete</button>


      </tr>
    </tbody>
    }
  </table>
</div>
<hr /> -->


<ng-content></ng-content>