<h3 class="text-center">DataBinding Component</h3>

<input type="text" [value]="myName" />
<input type="text" [attr.value]="myName" />
<button class="btn btn-primary" (click)="myName='Rahul'">Change Name</button>


<div class="border container">
    <div>My Name is: {{myName}}</div>
    <div>My Name is: <span [innerHTML]="myName"></span></div>
    <div>My Name is: <span bind-innerHTML="myName"></span></div>

    <img src="{{img_url}}" alt="" />
    <img [src]="img_url" alt="" />
    <img bind-src="img_url" alt="" />

    <div class="my-2">
        <input type="text" placeholder="Enter Your Name" value="Virat Kohli" />
        1 way : <input type="text" value={{myName}} class="mx-2" />
        1 way: <input type="text" [value]='myName' class="mx-2" />
        1 way: <input type="text" bind-value='myName' class="mx-2" /> <br /><br />
        2 way: <input type="text" [(ngModel)]="myName" />
        2 way: <input type="text" bindon-ngModel="myName" />
    </div>

    <div>
        <button class="btn btn-primary" disabled="{{flag}}">btn-1</button>
        <button class="btn btn-primary mx-2" [disabled]="flag">btn-2</button>
        <button class="btn btn-primary" bind-disabled="flag">btn-3</button>

        <button (click)="f1()" class="btn btn-primary mx-2" [ariaLabel]="myAriaLabel">invoke F1</button>
        <button on-click="f1()" class="btn btn-primary mx-2" [attr.aria-label]="myAriaLabel">invoke F1</button>
    </div>

    <table border="1" [width]="myWidth" [attr.height]="myHeight">
        <tbody>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td [attr.colspan]="1 + 1">data-3</td>
                <td>data-4</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <div class="border p-2">
        Addition Using 2 way Binding:
        <input [(ngModel)]="num1" class="mx-2" />
        <input [(ngModel)]="num2" />
        <div>Addition of {{num1}} & {{num2}} is {{ +num1 + +num2}}</div>

        <div> Template Reference Variable:</div>
        <input class="mx-2" #box1 />
        <input ref-box2 class="mx-2" />
        <button (click)="addition(box1.value,box2.value)">Addition</button>
    </div>

    <div>
        Assignment:1 (Toggle)
        <h1 [hidden]="flag">Hellooooooooooooooooooooo Angularrrrrrrrrr</h1>
        <button (click)="flag=!flag">
            {{flag ? 'SHOW' : 'HIDE'}}
        </button>
    </div>
    <div>
        Assignment:2 (Remaining Char) <br />
        <textarea rows="4" cols="20" maxlength="100" [(ngModel)]="msg"></textarea>
        <div>Remaining Characters: {{100 - msg.length}}</div>
    </div>
    <div>
        Assignment:3 (Selected State) <br />
        <select [(ngModel)]="selectedState">
            <option value="AP">Andhra Pradesh</option>
            <option value="KA">Karnataka</option>
            <option>State-3</option>
            <option>State-4</option>
            <option>State-5</option>
            <option>State-6</option>
            <option>State-7</option>
            <option>State-8</option>
            <option>State-9</option>
            <option>State-10</option>
        </select>
        <div>You selected:: {{selectedState}}</div>
    </div>
    <div>
        Assignment:4 (Arithmetic operations with dropdown) <br />
        <input class="mx-2" #box12 />
        <input ref-box22 class="mx-2" />
        <select [(ngModel)]="selectedOperation" (change) ="operationsNeedToDo($event)" >>
            <option>+</option>
            <option>-</option>
            <option>/</option>
            <option>*</option>
            <option>%</option>
        </select>
        <div>Total is {{result}}</div>
    </div>
    <div>
        Assignment:5 (password-show/hide)<br />
        <input class="mx-2" [type]="password" />
        <button (click)="changeType()">
            {{flag ? 'SHOW' : 'HIDE'}}
        </button>
    </div>
    <div>
        Assignment:6 (counter)<br />
        <button (click)="countter=countter+1">Increment</button>
        <button (click)="countter=countter-1">Decrement</button>
        <button (click)="countter=0">Reset</button>
        <div>Count:: {{countter}}</div>

    </div>

</div>