<h3 class="text-center">DataBinding Component</h3>

<div class="border container">
  <div>My Name is: {{ myName }}</div>
  <div>My Name is: <span [innerHTML]="myName"></span></div>
  <div>My Name is: <span bind-innerHTML="myName"></span></div>

  <img src="{{ img_url }}" alt="" />
  <img [src]="img_url" alt="this is an image" />
  <img bind-src="img_url" alt="" />

  <div class="my-2">
    <input type="text" placeholder="Enter Your Name" value="Virat Kohli" />
    1 way : <input type="text" value="{{ myName }}" class="mx-2" /> 1 way:
    1 way : <input type="text" [value]="myName" class="mx-2" /> 1 way:
    1 way : <input type="text" bind-value="myName" class="mx-2" /> <br /><br />
    2 way: <input type="text" [(ngModel)]="myName" /> 2 way:
    <input type="text" bindon-ngModel="myName" />
  </div>

  <div>
    <button class="btn btn-primary" disabled="{{ flag }}">btn-1</button>
    <button class="btn btn-primary mx-2" [disabled]="flag">btn-2</button>
    <button class="btn btn-primary" bind-disabled="flag">btn-3</button>

    <button (click)="f1()" class="btn btn-primary mx-2" [ariaLabel]="myAriaLabel">
      invoke F1
    </button>

    <button
      on-click="f1()"
      class="btn btn-primary mx-2"
      [attr.aria-label]="myAriaLabel"
    >
      invoke F1
    </button>
  </div>

  <table border="1" [width]="myWidth" [attr.height]="myHeight">
    <tbody>
      <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
      </tr>
      <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
      </tr>
      <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
      </tr>
      <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td [attr.colspan]="1 + 1">data-3</td>
        <td>data-4</td>
      </tr>
      <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
      </tr>
    </tbody>
  </table>
  <hr />

  <div class="border p-2">
    Addition Using 2 way Binding:
    <input [(ngModel)]="num1" class="mx-2" />
    <input [(ngModel)]="num2" />
    <div>Addition of {{ num1 }} & {{ num2 }} is {{ +num1 + +num2 }}</div>

    <div>Template Reference Variable:</div>
    <input class="mx-2" #box1 />
    <input ref-box2 class="mx-2" />
    <button (click)="addition(box1.value, box2.value)">Addition</button>
  </div>

  <!-- 1. Have a paragraph & a toggle button, on click of the button control the visibility(Show/Hide) of the paragraph
  <div>
    Assignment:1 (Toggle)
    <p [hidden]="flag">This is the content for toggling...</p>
    
    <button (click)="flag = !flag">{{ flag ? "Show Content" : "Hide Content" }}</button>
  </div>

  <br>

  2. Create a text-area with maxLength=100, as the user keeps typing display updated Remaining characters.
  <div>
    Assignment:2 (Remaining Char) <br />
    <textarea rows="4" cols="20" maxlength="100" [(ngModel)]="msg"></textarea>
    <div>Remaining Characters: {{ 100 - msg.length }}</div>
  </div> 

  <br>

  3. Create dropdown with state names, when user changes dropdown value, print the selected dropdown value in a paragraph 
  <div>
    Assignment:3 (Selected State) <br />
    <select [(ngModel)]="selectedState">
      <option selected value="">Select any state</option>
      <option>Andhra Pradesh</option>
      <option value="KA">Karnataka</option>
      <option>State-3</option>
      <option>State-4</option>
      <option>State-5</option>
    </select>
    <div>Your Selected state :: {{ selectedState }}</div>
  </div>

  <br>

  4. have 2 inputBoxes, and a dropdown(+,-,*,/) and perform arithmetic operations
  <div class="border p-2">
    <input class="mx-2" #num1 />
    <input ref-num2 class="mx-2" />
    <select [(ngModel)]="selectedOperator">
      <option>Add</option>
      <option>Sub</option>
      <option>Mul</option>
      <option>Div</option>
    </select>
    <p>{{ operations(num1.value, num2.value, selectedOperator) }}</p>
  </div>

  <br>

  5. create a input box, toggle the type of that input box to (text/password)
  <div class="border p-2">
    <input class="mx-2" bind-type="mode"/>
    <button (click)="clickEvent()">
        {{ flag1 ? 'Password' : 'Text' }}
    </button>
  </div>

  <br>

  6. Create a counter example with 3 controls (increment,decrement,reset)
  <div>
    <div>Counter: {{counterValue}}</div>
    <button (click)="counterValue = counterValue+1">Increment</button>
    <button (click)="counterValue = counterValue-1">Decrement</button>
    <button (click)="counterValue = 0">Reset</button>
  </div>

  7. Declare an array of users, display users in card & table format. 
  add a button/switch to toggle between table view and card view.
  https://jsonplaceholder.typicode.com/users

  8. create 1 EmployeeCRUD component

  9. display list of employees in a table (data comes from an array)

  10. user should be able to delete Employee (ask user confirmation)

  11. view the details of each employee in a modal (bootstrap)

  12. add a new employee to the table (insert a new record to the array)
      use sweetAlert to display messages ('Added Successfully')

  13. Create a custom pipe(ordinal) that displays a cardinal number in ordinal format.
    input : 21,22,23,24  output : 21st, 22nd , 23rd, 24th

    <div>
      <p>Enter a cardinal number : </p>
      <input type="number" [(ngModel)] = 'cardinalNumber'>
      <div>
        <p>Ordinal Number : {{cardinalNumber | ordinal}}
      </div>
    </div>

  14. create a custom pipe called age which takes a date and returns the age in years.

    <div>
      <p>Enter dob </p>
      <input type="date" [(ngModel)] = "dob">
      <p>Age is :: {{dob | age}}</p>
    </div>

  15. declare an array of employee objects. display them in a table.
    create a custom pipe Salutation that will add 'mr. / miss.' before the employee name.
    <div>
      <table class="table table-light table-striped table-bordered border-primary">
        <thead>
          <tr>
            <th>eId</th>
            <th>name</th>
            <th>sal</th>
            <th>gender</th>
          </tr>
        </thead>
        <tbody>
          @for(emp of employees; track $index){
            <tr>
              <td>{{emp.eId}}</td>
              <td>{{emp | salutation}}</td>
              <td>{{emp.sal}}</td>
              <td>{{emp.gender}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div> -->

</div>
