/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';

body {
    background-color: white;
    color: black;
  }
  
  /* Define dark mode styles */
body.dark {
    background-color: black;
    color: white;
}
