<ul class="BestDeal">
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/speaker/mobile-tablet-speaker/e/f/j/por-1578-portronics-original-imagtaf2d2w3f4ry.jpeg?q=70"
        alt="Speaker;"
      />
      <div class="BestDeal">Speaker</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/image/312/312/xif0q/monitor/c/n/8/-original-imahf4rbgwtzquxh.jpeg?q=70"
        alt="Moniter;"
      />
      <div class="BestDeal">Moniter</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/projector/o/u/w/k9-pro-eo9022-10-eo9022-led-projector-egate-original-imah6ccw5kfdkqrv.jpeg?q=70"
        alt="Projecter;"
      />
      <div class="BestDeal">Projecter</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/projector/o/u/w/k9-pro-eo9022-10-eo9022-led-projector-egate-original-imah6ccw5kfdkqrv.jpeg?q=70"
        alt="Projecter;"
      />
      <div class="BestDeal">Projecter</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/projector/o/u/w/k9-pro-eo9022-10-eo9022-led-projector-egate-original-imah6ccw5kfdkqrv.jpeg?q=70"
        alt="Projecter;"
      />
      <div class="BestDeal">Projecter</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/speaker/mobile-tablet-speaker/e/f/j/por-1578-portronics-original-imagtaf2d2w3f4ry.jpeg?q=70"
        alt="Speaker;"
      />
      <div class="BestDeal">Speaker</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/speaker/mobile-tablet-speaker/e/f/j/por-1578-portronics-original-imagtaf2d2w3f4ry.jpeg?q=70"
        alt="Speaker;"
      />
      <div class="BestDeal">Speaker</div>
    </div>
  </li>
  <li>
    <div>
      <a href="https://www.flipkart.com/boat-stone-350-10-w-bluetooth-speaker/p/itmba477fc3ec7ae?pid=ACCFVWMHBGUNFG97&lid=LSTACCFVWMHBGUNFG97UOBHG9&marketplace=FLIPKART&q=speaker+boat&store=0pm%2F0o7&spotlightTagId=BestsellerId_0pm%2F0o7&srno=s_1_3&otracker=AS_Query_OrganicAutoSuggest_8_7_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_8_7_na_na_na&fm=search-autosuggest&iid=d0060705-f27d-4c1f-8bc4-ec83ca86fc3f.ACCFVWMHBGUNFG97.SEARCH&ppt=sp&ppn=sp&ssid=v2yk5mscy80000001734098439338&qH=04e9318a01fa5afe"><img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/speaker/mobile-tablet-speaker/e/f/j/por-1578-portronics-original-imagtaf2d2w3f4ry.jpeg?q=70"
        alt="Speaker;"
      /></a> 
      
      <!-- <a href= "https://www.flipkart.com/boat-stone-350-10-w-bluetooth-speaker/p/itmba477fc3ec7ae?pid=ACCFVWMHBGUNFG97&lid=LSTACCFVWMHBGUNFG97UOBHG9&marketplace=FLIPKART&q=speaker+boat&store=0pm%2F0o7&spotlightTagId=BestsellerId_0pm%2F0o7&srno=s_1_3&otracker=AS_Query_OrganicAutoSuggest_8_7_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_8_7_na_na_na&fm=search-autosuggest&iid=d0060705-f27d-4c1f-8bc4-ec83ca86fc3f.ACCFVWMHBGUNFG97.SEARCH&ppt=sp&ppn=sp&ssid=v2yk5mscy80000001734098439338&qH=04e9318a01fa5afe">Speaker</a> -->
     <a href="https://www.flipkart.com/boat-stone-350-10-w-bluetooth-speaker/p/itmba477fc3ec7ae?pid=ACCFVWMHBGUNFG97&lid=LSTACCFVWMHBGUNFG97UOBHG9&marketplace=FLIPKART&q=speaker+boat&store=0pm%2F0o7&spotlightTagId=BestsellerId_0pm%2F0o7&srno=s_1_3&otracker=AS_Query_OrganicAutoSuggest_8_7_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_8_7_na_na_na&fm=search-autosuggest&iid=d0060705-f27d-4c1f-8bc4-ec83ca86fc3f.ACCFVWMHBGUNFG97.SEARCH&ppt=sp&ppn=sp&ssid=v2yk5mscy80000001734098439338&qH=04e9318a01fa5afe" class="BestDeal">Speaker</a> 

    </div>
  </li>
  
</ul>
