.BestDeal{
    margin: 70px;
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
   }
    li {
       text-align : center;

       margin: 10px;
   }
   img {
    max-width: 50;
    height: 200px;;
border-radius: 7;
  }
  a {
    text-align: center;
    margin: 10px 0; /* Adjust margin to add space above and below */
    display: block; /* Ensures the link takes up its own line */
    text-decoration: none; /* Remove underline */
    color: #007BFF; /* Default link color */
    font-size: 14px; /* Set font size */
}
