 /* .hi{ 
    margin: 70px;
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
   }
    li {
       text-align : center;

       margin: 10px;
   }
   img {
    max-width: 50;
    height: 200px;;
border-radius: 7;
  }
  a {
    text-align: center;
    margin: 10px 0; 
    display: block; 
    text-decoration: none;
    color: #007BFF; 
    font-size: 14px;  }*/


img {
  width: 300px;
  height: 300px;
}
.margin{
  border-radius: 100%;
}