/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css' ;



body.lighttheme{
    background-color: white;
    color: #333333;
}

body.darktheme{
background-color: #333333;
color: white;
}