<div class = "container mt-4">
<input type="text" [(ngModel)]="searchTerm">
<button (click)="search()">Search</button>
<button (click)="sortProducts('ascending')">Ascending</button>
<button (click)="sortProducts('descending')">Descending</button>
<div class="row">
    @for(product of filteredProducts | paginate: { itemsPerPage: 3, currentPage: p}; track $index ){
        <div class="col">
          <app-product-card [product] ="product" ></app-product-card>
        </div>
   }
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
