<div>
    <!-- <app-databinding></app-databinding> -->
    <!-- <h2>This is body component</h2> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-user-list></app-user-list> -->
    <!-- <app-sweetalert-demo>
        <h3 id="title">
            This content goes from parent > body component to sweetalert-demo
            component with select
        </h3>
    </app-sweetalert-demo>
    <app-products-assignment></app-products-assignment>
    <h3 highlight>This is directive testing</h3>
    <div>
        <div>Custom Directive:</div>
        <input type="text" appNumberOnly />
        Input Box is the host element for numberonly directive -->
    <!-- </div> <app-my-modal></app-my-modal> -->
    <!-- <app-employee></app-employee> -->
    <app-pipes></app-pipes>
</div>
