<h3 class="text-center border p-2">Let's learn pipes</h3>
<div class="border p-2">
  <div>Name is: {{ myName }}</div>
  <div>Name is: {{ myName | uppercase }}</div>
  <div>Name is: {{ myName | lowercase }}</div>
  <div>Name is: {{ myName | titlecase }}</div>

  <br><br>

  <div>Salary is : {{ sal }}</div>
  <div>Salary is : {{ sal | currency }}</div>
  <div>Salary is : {{ sal | currency : 'INR'}}</div>
  <div>Salary is : {{ sal | currency : '&euro;'}}</div>

  <br><br>

  <div>Today is : {{today}}</div>
  <div>Today is : {{today | date}}</div>
  <div>Today is : {{today | date : 'fullDate'}}</div>
  <div>Today is : {{today | date : 'mediumDate'}}</div>
  <div>Today is : {{today | date : 'shortDate'}}</div>
  <div>Today is : {{today | date : 'fullTime'}}</div>
  <div>Today is : {{today | date : 'mediumTime'}}</div>
  <div>Today is : {{today | date : 'shortTime'}}</div>
  <br>
  <div>Today is : {{today | date : 'dd-MMM-yyyy'}}</div>
  <div>Today is : {{today | date : 'dd-MM-yyyy'}}</div>
  <div>Today is : {{today | date : 'dd-MMMM-yyyy'}}</div>      <!-- m is minute, M is month -->

  <hr>

  <div>Today is : {{today | date : 'dd-MMMM-yyyy' | uppercase}}</div>

  <hr>

  <div>{{ 12.111222333 | number: "3.2-5" }}</div>
  <div>{{ 12.1 | number: "3.2"}}</div>
  <div>{{ 0.5 | number: "3.2-5"}}</div>
  <div>{{ 0.5 | percent}}</div>
  <div>{{ 0.75 | percent}}</div>

  <hr>

  <div>{{user}}</div>
  <div>{{user | json}}</div>

  <hr>

  @for(entry of user | keyvalue; track $index){
    <h5> {{entry.key}}---{{entry.value}}</h5>
  }

  <!-- @for(entry of user | keyvalue; track $index){
    <h5> {{entry}} </h5>
  } -->

  <hr>
  <div>{{arr}}</div>
  <div>{{arr | slice : 2}}</div>
  <div>{{arr | slice : 2 :5}}</div>
  <div>{{arr | slice : 1 :-1}}</div>

  <hr>
  <div class="border p-3">
    <h3>Custom pipes:</h3>

    <textarea [(ngModel)]="msg" maxlength="100"></textarea>
    <div>Remaining chars : {{msg | remaining}}</div>

    <textarea [(ngModel)]="msg2" maxlength="200"></textarea>
    <div>Remaining chars : {{msg2 | remaining : 200}}</div>
  </div>

  <hr>

  <div class="border p-3">

    <h3>Custom age pipe:</h3>

    <div>Please select a date to calculate age :</div>
    <input type="date" [(ngModel)]="dob">

    <div>DOB:{{dob | date}}</div>
    <div>Age:{{dob | age}}</div>

  </div>

  <hr>

  <div class="border p-3">
    <h3>Custom truncate pipe:</h3>

    <div>{{longStr | truncate }}</div>
    <div>{{longStr | truncate : 12}}</div>
    <div>{{longStr | truncate : 12 : true}}</div>
    <div>{{longStr | truncate : 12 : false :'***'}}</div>
  </div>

  <hr>
  <div>
  <h3>Custom Ordinal pipe:</h3>

    <div>Please enter a cardinal number to :</div>
    <input type="number" [(ngModel)]="cardinalNum">

    <div>{{cardinalNum | ordinal}}</div>
  </div>

  <hr>
  <div>
    <h4>Custom Salutation pipe</h4>
    <table class="table table-light table-striped table-bordered border-primary">
      <thead>
        <th>eid</th>
        <th>name</th>
        <th>sal</th>
        <th>gender</th>
      </thead>
      @for(emp of employees; track $index){
        <tbody>
          <tr>
            <td>{{emp.eId}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp | salutation}}</td>      
            <td>{{emp.sal}}</td>  
            <td>{{emp.gender}}</td>         
          </tr>
        </tbody>
      }
    </table>
  </div>

</div>