  <h5>Component Communication</h5>
  <div class="container">
    <div class="border p-3 mb-3">
      <div class="mb-2">Parent</div>
      <div class="mb-2">a = {{a}}</div>
      <div class="mb-2">name = {{name}}</div>
      <div class="mb-2">b = {{b}}</div>
      <div class="mb-2">another name = {{name1}}</div>
      <div class="mb-2">My child1 data is {{child1Ref.myName}}</div>
      <div class="mb-2">My child1 Cars data is {{parentCars}}</div>
  
      <div class="row">
        <div class="col-sm-6 d-flex align-items-stretch mb-3">
          <div class="border p-2 w-100">
            <app-child1 [a]="a" [name]="name" #child1Ref (carsEvent)="getDataFromChild($event)"></app-child1>
          </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch mb-3">
          <div class="border p-2 w-100">
            <app-child2 [b]="b" [name1]="name1" [child1Ref]="child1Ref"></app-child2>
          </div>
        </div>
      </div>
    </div>
  </div>
  