<div class="container">
    <div class="row">
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/86/86/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
    </div>
</div>
