<!-- <p>employee works!</p> -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Filter Employees
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" (click)="employeeService.displayAll()">All Employees</a></li>
    <li><a class="dropdown-item" (click)="employeeService.displayMale()">Male Employees</a></li>
    <li><a class="dropdown-item"  (click)="employeeService.displayFemale()">Female Employees</a></li>
  </ul>
</div>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">EmpId</th>
        <th scope="col">EName</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
        @for(emp of employeeService.selectedemployees; track $index){
            <tr>
                <th scope="row">{{$index+1}}</th>
                <td>{{emp.eid}}</td>
                <td>{{emp.ename}}</td>
                <td>{{emp.gender}}</td>
              </tr>
        }
    </tbody>
  </table>
