<div class="container">
    <h1>Employees CRUD</h1>

    <div class="row">
        <div class="col-sm-6">
            <app-employee-list
                [employees]="employees"
                [selectedEmployee]="selectedEmployee"
                (deleteEvent)="deleteEmployee($event)"
                (showEmployeeDetailsEvent)="showEmployeeDetails($event)"
            ></app-employee-list>
        </div>
        <div class="col-sm-6">
            <app-add-employee
                (addEmployeeEvent)="addEmployee($event)"
            ></app-add-employee>
        </div>
    </div>
</div>
