<h2 class="text-center" highlight>let's Learn Directives</h2>


<div class="border p-2">
    @if(num%2 == 0){
    <h4>{{num}} is Even </h4>
    }@else{
    <h4>{{num}} is Odd </h4>
    }

    <h4 [hidden]="num%2!=0">{{num}} is Even </h4>
    <h4 [hidden]="num%2==0">{{num}} is Odd </h4>

    @switch (num) {
    @case (1) { <h1>Monday</h1> }
    @case (2) { <h1>Tuesday</h1> }
    @case (3) { <h1>Wednesday</h1> }
    @case (4) { <h1>Thursday</h1> }
    @case (5) { <h1>Friday</h1> }
    @case (6) { <h1>Saturday</h1> }
    @case (7) { <h1>Sunday</h1> }
    @default { <h1>Not a Valid number</h1>> }
    }

    <ol>
        @for(car of cars;track $index;){
        <li>{{car}}</li>
        }
    </ol>
    <select>
        @for(car of cars;track $index;){
        <option>{{car}}</option>
        }
    </select>

    <div>
        Employees Table:
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>Eid</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>is First?</th>
                <th>is Last?</th>
                <th>is Even?</th>
                <th>is Odd?</th>
            </tr>
        </thead>
        <tbody>
            @for(emp of employees;track $index){
            <tr>
                <td>{{$index+1}}</td>
                <td>{{emp?.eId}}</td>
                <td>{{emp?.name}}</td>
                <td>{{emp?.sal}}</td>
                <td>{{emp?.gender}}</td>
                <td>{{$first}}</td>
                <td>{{$last}}</td>
                <td>{{$even}}</td>
                <td>{{$odd}}</td>
            </tr>
            }@empty {
            No Employee Found
            }
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <tbody>
            @for (emp of employees; track emp) {
            <tr>
                <td>{{emp.eId}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.sal}}</td>
                <td>{{emp.gender}}</td>
            </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="addNewEmployee()">Add new Emp</button>

    <div class="border p-2">
        Ngstyle and ng class

        <input type="number" [(ngModel)]='num'>
        <p [style.color]="num % 2 == 0 ? 'blue' : 'red'"> {{num}} is {{num % 2 == 0 ?'even':'odd'}} </p>
        <p [style.fontSize.px]='num % 2 == 0 ? 48 :12'> Add style with unit </p>
        <p [style.background-color]=" flag?'green':'blue' "> Add style conditionally </p>
        <p [ngStyle]="num % 2 == 0 ? myStyle1 : myStyle2"> NgStyle for multiple values </p>
        <p [ngStyle]="myFunction()"> NgStyle for multiple values </p>

        <button class="btn" [ngClass]="{'btn-primary': flag}">Helloo</button>
        <button class="btn mx-1" [class.btn-success]="flag">Helloo</button>
    </div>

    <div>
        <h2 highlight>Font awesome icons</h2>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faPlane"></fa-icon>
    </div>

    <div>
        <div>Custom Directive:</div>
        <input type="text" numberonly />
        <!-- Input Box is the host element for numberonly directive -->
    </div>
</div>