
<div class="card mx-5" style="width: 18rem;">
    <img src="{{mylist.image}}" class="card-img-top" alt="..." style="width: 150px; height: 150px;"> 
   <div class="card-body">
     <div><h5 class="card-title">{{mylist.title}}</h5></div>
     <div><strong class="price">${{mylist.price}}</strong></div>
     <div><p>{{mylist.description}}</p></div>
     <div><h6 class="category">{{mylist.category}}</h6></div>
    <div style="margin-right:10px;"><a href="#" class="btn btn-primary">buy</a></div>
     <div><a herf=".." class="btn btn-primary">addtocart</a></div>
   </div>
</div>