<div class="container" style="align-items: center;">
    <div>
        <b>
            <h5 class="modal-title">{{member?.name}}</h5>
        </b>
    </div>
    <hr>
    <div>
        <img class="card-img-top" src="{{member.image}}" alt="Card image cap"
            style="max-width: 300px;max-height: 400px;">
        <p class="card-text">Member Id: {{member?.id}}</p>
        <p class="card-text">Gender: {{member?.gender}}</p>
        <p class="card-text">Salary: {{member?.sal}}</p>
    </div>
</div>