<input type="text" [(ngModel)]="searchingTerm">
<button (click)="search()">Search</button>
<button (click)="sortProducts('ascending')">Ascending</button>
<button (click)="sortProducts('descending')">Ascending</button>
<div class="row">
    @for(items of filtereditems | paginate: { itemsPerPage: 3, currentPage: p}; track $index ){
      <div class="col">
        <app-pagination-cards [items] = "items"> </app-pagination-cards>
      </div>
    }
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
