<div class="border text-center">
    User Details using Signal
    User Id: {{userId}}
    <div class="container my-3">
        <div class="row">
            @for(user of users;track $index){
                <!-- In total there will be 12 so idf we keep 4 will get 12/4 so 3 cards -->
                <div class="col-sm-3">
                    <div class="card">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOjWGGs4b5kwJavNNlUaFNRl3TY9hWEJDNsg&s"
                            class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{user.username}}</h5>
                            <p class="card-text">{{user.name}}</p>
                            <p class="card-text">{{user.email}}</p>
                            <p class="card-text">{{user.address.city}}</p>
                            <p class="card-text">{{user.phone}}</p>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>
