.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-img-top {
    object-fit: fill;
    height: 220px;  /* Fixed height for laptop, TV, and AirPods images */
}

.card-body {
    flex-grow: 1;
}

.body{
    width:100%;
}

#modal-title{
    color: black;
}

.img-styl{
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}