<!-- <app-navbar [mode]="lightmode" (toggleTheme)="toggleTheme()"></app-navbar>
<app-categories></app-categories>
<app-carousel></app-carousel>
<app-body></app-body>
<app-assignment></app-assignment>
<app-assignment2></app-assignment2>
<app-custompipe></app-custompipe>
<hr>
<app-databinding></app-databinding>
<app-parent></app-parent>
<app-directives></app-directives>
<app-pagination></app-pagination>
<app-footer></app-footer> -->
<app-trafficlight></app-trafficlight>
<app-employee></app-employee>
