<!-- 
<div class="container - mt-4">
  <div class="row">
<ul class="category">
<li>
  <div>
    <img
      src="images/img1.png"
      alt="Electronics"
    />
    <div class="category-name">Electronics</div>
  </div>
</li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/flap/96/96/image/ab7e2b022a4587dd.jpg?q=100"
        alt="home"
      />
      <div class="category-name">Home&furnicher</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/0d75b34f7d8fbcb3.png?q=100"
        alt="Fashion"
      />
      <div class="category-name">Fashion</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/flap/96/96/image/71050627a56b4693.png?q=100"
        alt="Travel"
      />
      <div class="category-name">Travel</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/flap/96/96/image/29327f40e9c4d26b.png?q=100"
        alt="Grocieries"
      />
      <div class="category-name">Grocieries</div>
    </div>
  </li>
  <li>
    <div>
      <img
        src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/05d708653beff580.png?q=100"
        alt="bike"
      />
      <div class="category-name">Two Whealer</div>
    </div>
  </li>
</ul>
</div>
</div> -->
<div class="container-fliud" style="margin: bottom 50px;">
  <div class="margin">
  <div class="row">
    <div class="col">
      <div class="category text-center">
      <img src="https://rukminim2.flixcart.com/flap/96/96/image/71050627a56b4693.png?q=100" alt="pic" class="#">
      <div>TRAVEL</div>
</div>
</div>

<div class="col">
  <div class="category text-center">
  <img src="https://rukminim2.flixcart.com/flap/96/96/image/ab7e2b022a4587dd.jpg?q=100" alt="pic" class="#">
  <div>TRAVEL</div>
</div>
</div>
<div class="col">
  <div class="category text-center">
  <img src="images/img1.png" alt="pic" class="#">
  <div>TRAVEL</div>
</div>
</div>
<div class="col">
  <div class="category text-center">
  <img src="https://rukminim2.flixcart.com/flap/96/96/image/29327f40e9c4d26b.png?q=100" alt="pic" class="#">
  <div>TRAVEL</div>
</div>
</div>
<div class="col">
  <div class="category text-center">
  <img src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/05d708653beff580.png?q=100" alt="pic" class="#">
  <div>TRAVEL</div>
</div>
</div>
<div class="col">
  <div class="category text-center">
  <img src="https://rukminim2.flixcart.com/flap/96/96/image/29327f40e9c4d26b.png?q=100" alt="pic" class="#">
  <div>TRAVEL</div>
</div>
</div>
<div class="col">
  <div class="category text-center">
  <img src="https://rukminim2.flixcart.com/flap/96/96/image/71050627a56b4693.png?q=100" alt="pic" class="#">
  <div>TRAVEL</div>
</div>
</div>

</div>
</div>
</div>

