<div class="body text-center border">
    <!-- <app-databinding></app-databinding> -->
     <!-- <app-pipes></app-pipes> -->
      <!-- <app-employee></app-employee> -->
      <!-- <app-student-crud></app-student-crud> -->
       <!-- <app-employee-crud></app-employee-crud> -->
        <!-- <app-items-list></app-items-list> -->
         <!-- <app-users></app-users> -->
          <!-- <app-demo1></app-demo1> -->
          <!-- <app-traffic-lights></app-traffic-lights> -->
           <!-- <app-employee></app-employee> -->
            <!-- <app-crud-employees></app-crud-employees> -->
             <!-- <app-math1></app-math1> -->
             <!-- <app-math2></app-math2> -->
              <!-- <app-demouser></app-demouser> -->
               <!-- <app-observable-demo1></app-observable-demo1> -->
                <app-observable-demo2></app-observable-demo2>
           
          
</div>
