@import 'bootstrap/dist/css/bootstrap.css';

body {
  /* background-color: white; 
  color: black; */
  background-color: #121212;
  color: white;
  overflow-x: hidden;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

body.light-theme {
  background-color: white;
  color: black;
}


body.dark-theme .horizontal-list-container,
body.dark-theme .horizontal-list {
  background-color: #121212;
  color: white;
}

body.light-theme .horizontal-list-container,
body.light-theme .horizontal-list {
  background-color: white;
  color: #121212;
}
