@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: white; /* Default light theme */
  color: black;
  overflow-x: hidden;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

body.light-theme {
  background-color: white;
  color: black;
}
