<div class="border text-center">
    <div id="mydiv1">This is Parent Component</div>
    <div>My own data a is: {{a}} , <input #inputBox type="number" [(ngModel)]="a" /></div>
    <div>My own data b is: {{b}} , <input #inputBox type="number" [(ngModel)]="b" /></div>
    <div>My child1's data is {{child1Ref.myName}}</div>
    <div>My child1's data is {{child1Ref.myAge}}</div>
    <div>My child1's cars data is {{parentCars}}</div>

    <div class="row">
        <div class="col-sm-6 border text-center">
            <app-child1 [a]="a" #child1Ref (carsEvent)="getDataFromChild($event)"></app-child1>
        </div>
        <div class="col-sm-6 border text-center">
            <app-child2 [bChild]="b" [child1Name]="child1Ref.myName"></app-child2>
        </div>
    </div>
</div>