<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family: 'Roboto', sans-serif; font-weight: 600; color: #fff;">
      TechPulse
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #fff;">
            Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #fff;">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" style="font-family: 'Roboto', sans-serif;">My Profile</a></li>
            <li><a class="dropdown-item" href="#" style="font-family: 'Roboto', sans-serif;">Payments</a></li>
            <li><a class="dropdown-item" href="#" style="font-family: 'Roboto', sans-serif;">Membership</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" style="font-family: 'Roboto', sans-serif;">Logout</a></li>
            <li><a class="dropdown-item" href="#" style="font-family: 'Roboto', sans-serif;">Assignment</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="font-family: 'Roboto', sans-serif; background-color: #333; border: 1px solid #444; color: #fff;">
        <button class="btn btn-outline-light" type="submit" style="font-family: 'Roboto', sans-serif; color: #fff; border-color: #6c757d;">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
