<div class="container">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="https://lh3.googleusercontent.com/coGZ7cDE6vOcinnr9iRX6_UyCG0xPF9zkm32DZEVXJk2K4tLJ9hrV-ja5SrKbqPtOU9SVyeaOP_BTjwFDQnGA7tcQjwm6KOFfQ=s6000-w6000-e365-rw-v0-nu" class="d-block w-80" width=50% height= 600px object-fit="cover" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/niEssUcB1_Qut72nlFRnEm26XxyfYDXW62p74CJ_jTy7zJjGR40c5VTgtQiK9cTCEKntx-FcQEccBvk7udD_WN3hkxD3SKKo_Q=s6000-w6000-e365-rw-v0-nu" class="d-block w-80" width=50% height= 600px  object-fit="cover" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/I8DCyHDUT_AnM5GR67hCLc5gvKTmmF1b_5ePgTnlAHqBfwbUZW-mB26-vZgoI4aK0cqVJkfn_U_zTO_0oK2BDiK-3QpgJHX27Q=s6000-w6000-e365-rw-v0-nu" class="d-block w-80" width=50% height= 600px object-fit="cover" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>