<div>
    <div class="input-group mb-3" style="width: fit-content;">
        <input type="text" class="form-control" placeholder="Search" style="border-color: black;"
            [(ngModel)]="inputValue">
        <button class="btn btn-primary" type="button" id="button-addon1" (click)="getInputValue()">Search <fa-icon
                [icon]="faSearch"></fa-icon></button>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="ascending()">Asc
            <fa-icon [icon]="faArrowDown19"></fa-icon>
        </button>
        <button class="btn btn-outline-secondary" type="button" id="button-addon3" (click)="descending()">Desc
            <i class="fa-solid fa-arrow-up-9-1"></i>
            <fa-icon [icon]="faArrowUp91"></fa-icon>
        </button>
    </div>
    <div class="border p-2 row">
        @if (productList.length > 0) {
        @for (product of productList | paginate: { itemsPerPage: 4, currentPage: p }; track $index) {
        <div class="col-sm-3">
            <div class="card" style="height: 100%;">
                <img style="height:150px; width:150px; align-self: center; margin-top: 15px; margin-bottom: 15px;"
                    src="{{product.image}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <b class="card-title nowrap" id="title">{{product.title}}</b>
                    <b class="card-text">$ {{product.price}}</b>
                    <p class="card-text">{{product.category}}</p>
                    <p class="card-text" style="overflow-y: auto; max-height: 100px;">{{product.description}}</p>
                    <p class="card-text">{{product.rating.rate}} <fa-icon [icon]="faStar"></fa-icon>
                        ({{product.rating.count}}) reviews</p>
                    <!-- <a href="#" class="btn btn-primary">Details</a> -->
                </div>
            </div>
        </div>
        }
        <div>
            <div class="row mt-2">
                <div style="text-align: center;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
        } @else {
        <b style="color: red;">There are no Products to display!!!!</b>
        }
    </div>
</div>