

#title {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

#button-addon1 {
    background-color: aqua;
    color: black;
}

#button-addon2 {
    background-color: blanchedalmond;
    color: black;
}

#spinner {
    position: absolute;
    top: 20%;
    left: 45%;
    width: 3.5rem;
    height: 3.5rem;
}