<div class="container py-3">
    <div class="row text-center">
      <!-- Category Item -->
      <div class="col-6 col-md-3 col-lg-2 mb-3 category-item">
        <a href="#" class="text-decoration-none">
          <img src="https://rukminim2.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" alt="Grocery" class="img-fluid mb-2">
          <div class="text-dark">Grocery</div>
        </a>
      </div>
      <!-- Category Item -->
      <div class="col-6 col-md-3 col-lg-2 mb-3 category-item">
        <a href="#" class="text-decoration-none">
          <img src="https://rukminim2.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt="Mobiles" class="img-fluid mb-2">
          <div class="text-dark">Mobiles</div>
        </a>
      </div>
      <!-- Category Item -->
      <div class="col-6 col-md-3 col-lg-2 mb-3 category-item">
        <a href="#" class="text-decoration-none">
          <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/0d75b34f7d8fbcb3.png?q=100" alt="Fashion" class="img-fluid mb-2">
          <div class="text-dark">Fashion</div>
        </a>
      </div>
      <!-- Category Item -->
      <div class="col-6 col-md-3 col-lg-2 mb-3 category-item">
        <a href="#" class="text-decoration-none">
          <img src="https://rukminim2.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="Electronics" class="img-fluid mb-2">
          <div class="text-dark">Electronics</div>
        </a>
      </div>
      <!-- Category Item -->
      <div class="col-6 col-md-3 col-lg-2 mb-3 category-item">
        <a href="#" class="text-decoration-none">
          <img src="https://rukminim2.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100" alt="Home & Furniture" class="img-fluid mb-2">
          <div class="text-dark">Home & Furniture</div>
        </a>
      </div>
      <!-- Category Item -->
      <div class="col-6 col-md-3 col-lg-2 mb-3 category-item">
        <a href="#" class="text-decoration-none">
          <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/0139228b2f7eb413.jpg?q=100" alt="Appliances" class="img-fluid mb-2">
          <div class="text-dark">Appliances</div>
        </a>
      </div>
    </div>
  </div>