<div class="container">
    <div class="row">
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100" alt="">
                <div>Mobiles</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Fashion</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Electronics</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Home and Furniture</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Appliances</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Flight Bookings</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Beauty, Toys and more</div>
            </div>
        </div>

        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <div>Two Wheeler</div>
            </div>
        </div>
    </div>
</div>
