<div class="border text-center">
  <p>form-demo3 works!</p>

  <form [formGroup]="registerForm" (submit)="submitMyForm(registerForm)" class="border p-2">
    <p>
      FirstName:
      <input formControlName="firstName">
      @if (registerForm.controls.firstName.hasError('required')) {
        <span class="text-danger">FirstName is
        required</span>
      }
      @if (registerForm.controls.firstName.hasError('minlength')) {
        <span class="text-danger">Minimum 5 chars</span>
      }
    </p>
    <p>
      lastName:
      <input formControlName="lastName">
    </p>
    <p>
      email:
      <input formControlName="email">
    </p>
    <div formGroupName="address">
      <p>
        street:
        <input formControlName="street">
      </p>
      <p>
        city:
        <input formControlName="city">
      </p>
      <p>
        pincode:
        <input formControlName="pincode">
      </p>
    </div>
    <input type="submit" value="submit" class="mx-1">
    <input type="reset" value="reset">
  </form>
  <button (click)="setFormValue()">set value</button>
  <button (click)="patchFormValue()">patch value</button>

  <pre>{{registerForm.value | json}}</pre>
</div>