<p>demo1 works!</p>
<button class="mb-4 mx-3" (click)="openMyAlert()">Show Alert</button>
<button class="mb-4" (click)="openMySnackBar()">Show SnackBarAlert</button>

<!-- <ng-content></ng-content> -->

<!-- Search and Sort Controls -->
<div class="d-flex justify-content-center align-items-center mb-4">
    <!-- Search Bar -->
    <input type="text" class="form-control w-25" [(ngModel)]="searchText" (input)="filterProducts()" placeholder="Search by title" />
    
    <!-- Sort Buttons -->
    <div>
      <button class="btn btn-secondary mx-3" (click)="sortByPrice('asc')">Price: Low to High</button>
      <button class="btn btn-secondary ms-2" (click)="sortByPrice('desc')">Price: High to Low</button>
    </div>
  </div>
  
  <h2 class="text-center">Product List</h2>

<div class="container">
  <div class="row">
    @for(product of filteredProducts | paginate: { itemsPerPage: 4, currentPage: p };track $index){
      <div class="col">
        <app-product-list-card [product]="product"></app-product-list-card>
      </div>
    }
  </div>

  <div class="row mt-2 pag">
    <div class="offset-4 col-12 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
