table, th, td {
    border: 1px solid black;
  }

th, td{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
th{
    background-color: pink;
}
td{
    background-color: green;
}

.pagination-controls{
    display: flex;
    justify-content: center;
}

.card{
    /*float: inline-start;
    width: 18.7%;
    text-align: center;
    margin: 7px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: darkolivegreen;*/
}



:root {
    --background-color: #222;
    --text-color: #000;
  }
  
  .dark-theme {
    --background-color: #222;
    --text-color: #fff;
  }