<p>employee works!</p>
<div class="abc">  
    <table>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Gender</th>
        </tr>
    
    @for(emp of employee; track $index){
        <tr>
        <td> {{emp.eId}} </td>
        <td> {{emp.name}} </td>
        <td> {{emp.sal}} </td>
        <td> {{emp.gender}} </td>
    </tr>
    }

</table>
</div>
<hr/>



<div class="cards">
    @for(emp of employee; track $index){
    <div class="card">
      <h5 class="card-title">Employee Name :{{emp.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Employee ID :{{emp.eId}}</h6>
      <h5 class="card-text">Salary :{{emp.sal}}</h5>
      <h5 class="card-text">Gender :{{emp.gender}}</h5>
    </div>
}
</div>
<hr/>