<div>
  <div>
    <div class="text-end">
      <select class="text-center" [(ngModel)]="selectedState" (change)="sortFun($event)">
        <option value="" selected disabled>Sort Here</option>
        <option value="LP">Low:Price</option>
        <option value="HP">High:Price</option>
        <option value="LR">Low:Rating</option>
        <option value="HR">High:Rating</option>
        <option value="men's clothing">Men/Women</option>
        <option value="electronics">Electronics</option>
        <option value="jewelery">Jewelery</option>
      </select>
      <input  class = "mx-2 text-center" placeholder="Search Item" #searchedItem />
      <fa-icon
        [icon]="faMagnifyingGlass"
        (click)="searchItem(searchedItem.value)"
      ></fa-icon>
    </div>
  </div>
  <div>
    <div class="row h-25" style="height: 20px; background-color: aquamarine">
      @for(product of searchedProducts | paginate: { itemsPerPage: 4,
      currentPage: p}; track $index){
        <div class="col">
          <app-product-card [product]="product"></app-product-card>
        </div>
      }
      <div class="row mt-4">
        <div style="text-align: center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

<div class="row ">
  @for(product of productsArr; track $index){
    <!--<div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-sm-4">
        <div class="card">
          <img src={{product.image}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{product.rating.rate}}({{product.rating.count}} Total reviews)</h6>
            <h5 class="card-title">${{product.price}}</h5>
            <p class="card-title">{{product.description}}</p>
          </div>
        </div>
      </div>
    
    </div>
  }
</div>

-->
