body {
  background-color: black !important;
  color: black;
}

  body.dark-theme {
    background-color: #121212;
    color: white;
  }
  
  /* Light theme styles */
  body.light-theme {
    background-color: white;
    color: black;
  }
  
  .wid{
    width: 100%;
  }