<div class="body border">
    
    <app-emp-crud-subject></app-emp-crud-subject>
    <!-- <app-switchmap></app-switchmap> -->
    <!-- <app-observables></app-observables> -->
    <!-- <app-product-list></app-product-list> -->
     <!-- <app-loading></app-loading> -->

    <!-- <app-user></app-user> -->
    <!-- <app-form-modal></app-form-modal> -->
    <!-- <app-employees></app-employees>  -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-employees></app-employees> -->
    <!-- <app-pipes></app-pipes>  -->
    <!-- <app-products></app-products> -->
    <!-- <app-employee-crud></app-employee-crud>  -->
    <!-- <app-parent></app-parent> -->
    <!-- <app-traffic-light></app-traffic-light> -->
    <!-- <app-math1></app-math1> -->
    <!-- <app-math2></app-math2> -->
    <!-- <app-users></app-users> -->
    <!-- <app-empdetails></app-empdetails> -->
    <!-- <app-http-demo1></app-http-demo1> -->
    <!-- <app-employee></app-employee> -->
    
    <!-- <div class="row">
        <div class="col-sm-4 border">
            <app-message1></app-message1>
        </div>
        <div class="col-sm-4 border">
            <app-message2></app-message2>
        </div>
        <div class="col-sm-4 border">
            <app-message3></app-message3>
        </div>
    </div> -->
    
    
    
    
    <!-- <app-directives></app-directives>
    <br>
    <app-employees></app-employees> 
    <br>
    <app-demo1>
        <h3>This Content Goes from body comp to demo1 component</h3>
    </app-demo1>
    <br>
    <app-products></app-products>
    <br> 
    <app-employee-crud></app-employee-crud>
    <app-pipes></app-pipes>
    <app-parent></app-parent>
    <app-my-modal>
        <div id="div1">Title Printed</div>
        <div id="div2">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </app-my-modal>
    <app-form-modal></app-form-modal> -->
</div>  