<div class="body border">
    <!-- <app-databinding></app-databinding>
    <app-directives></app-directives> -->
    <!-- <app-user-list></app-user-list>-->
    <!-- <app-demo1>
        <h3>This content goes from body comp to demo1 comp</h3>
    </app-demo1>   -->
    <!-- <app-my-modal> -->

        <!-- This is myModal -->
          <!-- table.table-bordered.table.table-striped>tbody>tr*10>td*5{data$} -->

          <!-- <table class="table-bordered table table-striped">
            <tbody>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
            </tbody>
          </table> -->

    <!-- </app-my-modal> -->
     <!-- <app-my-modal>
            <div id="div1">
                Title Printed
            </div>

            <div id="form1">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        
     </app-my-modal>
    <app-products></app-products>
    <app-pipes></app-pipes> -->
    <app-parent></app-parent>
    <app-employee-crud></app-employee-crud>
</div>