<div class="body border">
    <app-databinding></app-databinding> 
    <app-directives></app-directives>
    <!-- <app-user-list></app-user-list> -->
    <!--  <app-demo1>
        <h3>This Content Goes from body comp to demo1 component</h3>
    </app-demo1> -->
    <!--  <app-my-modal>
        <table class="table-bordered table table-striped">
            <tbody>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
            </tbody>
        </table>
    </app-my-modal> -->

    <!-- <app-my-modal>
        <h1 id="modal-title">Registration Form</h1>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </app-my-modal> -->
</div>