<div class="body border">
    <!-- <app-databindingassign></app-databindingassign>
    <app-employee-assignment></app-employee-assignment>
    <app-user-list></app-user-list>
    <app-paginationassign></app-paginationassign>
    <app-pipes></app-pipes> -->
    <!-- <app-employee-crud></app-employee-crud>  -->
    <!-- <app-traffic-signal></app-traffic-signal> -->
    <!-- <app-employee></app-employee>
    <app-users></app-users> -->
    <!-- <app-user></app-user> 
    <app-loading></app-loading> -->
    <app-employee-crud-subject></app-employee-crud-subject>
</div>
