<div class="container">
  <p class="lead font-weight-normal"> Try our New Website Colors you can use the "Change Color Button" to change website
    color</p>
  <a class="btn btn-outline-secondary" (click)="changeColor()">Change Color</a>
</div>
<div class="col-md-5 p-lg-5 mx-auto my-5">

  <h1 class="display-4 font-weight-normal">All pro</h1>
  <h1 class="display-4 font-weight-normal">Pure magic.</h1>
  <p class="lead font-weight-normal">It’s the most powerful Pixel yet, with Gemini, your built-in AI assistant.</p>
  <a class="btn btn-outline-secondary" href="#">Coming soon</a>
</div>