<div class="container" >
  <p class="lead font-weight-normal"> Try our New Website Colors you can use the "Change Color Button" to change website color</p>
  <a class="btn btn-outline-secondary" (click)="changeColor()">Change Color</a>
</div>
<div class="col-md-5 p-lg-5 mx-auto my-5">

  <h1 class="display-4 font-weight-normal">All pro</h1>
  <h1 class="display-4 font-weight-normal">Pure magic.</h1>
  <p class="lead font-weight-normal">It’s the most powerful Pixel yet, with Gemini, your built-in AI assistant.</p>
  <a class="btn btn-outline-secondary" href="#">Coming soon</a>
</div>
<div class="product-device box-shadow d-none d-md-block"></div>
<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
<div class="container">
  <div class="leftpanel">
    <img src="https://lh3.googleusercontent.com/GNANlDlqx5UVt7XhniOtLk5uyOs13AN1ctWNoj7WTZBLb5Vrrd1B8E_VObrAnNYOuWOq-vBqDSF4teyg50KsC0-IzEyiwH5AYA=s0" alt="Pixel 9 Pro">
    <p>Pixel 9 Pro</p>
  </div>
  <div class="rightpanel">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2j8wIdirdSOi54d1DeNAvbRcUrbIaucj73A&s" alt="Pixel 9 Pro Fold">
    <p>Pixel 9 Pro Fold</p>
  </div>
</div>


